-# edit.html.haml using partial

%h1 Edit Existing Movie

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, '商品名称'
  = text_field :movie, 'title'

  = label :movie, :rating, '所属大类'
  = select :movie, :rating, ['奶制品','肉制品','草原白酒','养生粗粮','民族工艺品']

  = label :movie, :release_date, '上架时间'
  = date_select :movie, :release_date

  = submit_tag '更新商品信息'
