!!!
%html
  %head
    %title 内蒙古民族特产特卖 整合各大品牌产品
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title 内蒙古民族特产特卖 整合各大品牌产品 保证100%真实货源
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
